.ContactBody {
    background-color: var(--primary-color);
}

.ContactBody .intro {
    color: var(--primary-color);
}

.ContactBody .intro h1 {

    font-size: 40px;
    margin: 35px 0px 10px 0px;
}

.ContactBody .intro p {
    font-size: 24px;
    padding: 0px 10%;
    margin-bottom: 75px;
}

.ContactBody input,.ContactBody select ,.ContactBody textarea{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15%;
    font-size: 15px;
    color: var(--primary-color);

}

.ContactBody input:hover,.ContactBody select:hover ,.ContactBody textarea:hover{
    border-inline: 5px solid var(--primary-color);
}


.ContactBody input::placeholder,.ContactBody select::placeholder ,.ContactBody textarea::placeholder{
    font-size: 15px;
}
.ContactBody div {
    background-color: #f2f2f2;
    padding: 10px;
}
.ContactBody label{
    color: var(--primary-color);
    display: grid;
    text-align: left;
    font-size: 20px;
    margin-left: 15%;
}
.ContactBody input[type=submit]{
    background-color: var(--primary-color);
    color: #F1F6F9;
    font-weight: bold;
    font-size: 20px;
    width: 120px;
    text-align: center;
    transition: 0.5s;
}
.ContactBody input[type=submit]:hover{
    background-color: #F1F6F9;
    color: var(--primary-color);
}

