.ContactLanding{
    background:var(--primary-color);
    padding-bottom: 100px;
}
.ContactLanding .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ContactLanding .box{
    display: flex;
    flex-wrap: nowrap;
    position: relative ;
    right: 100px;

}

.ContactLanding img{
    margin-top: 100px;
    size: 90% ;
}
.ContactLanding h1{
    white-space: nowrap;
    margin:10px auto;
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 2px;
}
.ContactLanding h3{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--secondary-color);
}
