@import url("./components/Header/Header.css");
@import url("./components/Landing/Landing.css");
@import url("./components//About-landing/About-landing.css");
@import url("./components/About-body/About-body.css");
@import url("./components/ContactBody/ContactBody.css");
@import url("./components/Contact-landing/ContactLanding.css");
@import url("./components/Signup/signup.css");
@import url("./components/Services/Services.css");
@import url("./components/Info/Info.css");
@import url("./components/Achieve/Achieve.css");
@import url("./components/Recent/Recent.css");
@import url("./components/Footer/Footer.css");
@import url("./components/Chat/Chat.css");
@import url("./components/Chat/Load.css");
.App {
  text-align: center;
}
.App button{
  display: none;
}
.show{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #394867;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.show:hover{
  color: #f1f6f9;
}
